/*Change to watch in slow motion */
:root{
  --duration: 0.5s;
  --size: 100%;
  --togled-size: 0.75;
}

.navicon-button {
  display: inline-block;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: var(--duration)/2;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
}

.navicon-button .navicon::before, .navicon-button .navicon::after{
  transition: var(--duration)/2;
} 

.navicon:hover{
  transition: var(--duration);
  opacity: 1;
}

.navicon:hover .navicon::before, .navicon:hover .navicon::after{
  transition: var(--duration)/2;
}

.navicon:hover .navicon::before{
  top: 0.825rem;
}

.navicon:hover .navicon::after{
  top: -0.825rem;
}

.navicon{
  position: relative;
  width: 2.5em;
  height: .3125rem;
  background: white;
  transition: var(--duration);
  border-radius: 2.5rem;
}

.navicon::before, .navicon::after{
  display: block;
		content: "";
		height: 0.3125rem;
		width: 2.5rem;
    background: white;
		position: absolute;
		z-index: -1;
		transition: var(--duration) var(--duration)/2;
		border-radius: 1rem;
}

.navicon::before{
  top: 0.625rem;
}

.navicon::after{
  top: -0.625rem;
}

.open:not(.steps) .navicon:before, .open:not(.steps) .navicon:after{
	top: 0 !important;
}

.open .navicon:before, .open .navicon:after {
	transition: var(--duration);
}

/* Minus */
.open {
	transform: scale(var(--togled-size));
}

/* Arrows */
.open.left-arrow .navicon::before, .open.right-arrow .navicon::before, .open.upper-arrow .navicon::before, .open.left-arrow .navicon::after, .open.right-arrow .navicon::after, .open.upper-arrow .navicon::after  {
  width: 1.5rem;
}

.open.left-arrow .navicon::before, .open.right-arrow .navicon::before, .open.upper-arrow .navicon::before{
  transform: rotate(35deg);
  transform-origin: left top;
}

.open.left-arrow .navicon::after, .open.right-arrow .navicon::after, .open.upper-arrow .navicon::after{
  transform: rotate(-35deg);
  transform-origin: left top;
}

.open.upper-arrow {
	transform: scale(var(--togled-size)) rotate(90deg);
}

.open.open.right-arrow .navicon::before{
  transform: translate3d(1em, 0, 0) rotate(-35deg);
  transform-origin: right top;
}

.open.open.right-arrow .navicon::after{
  transform: translate3d(1em, 0, 0) rotate(35deg);
  transform-origin: right bottom;
}

/* × and + */
.open.plus .navicon, .open.x .navicon{
  background: transparent;
}

.open.plus .navicon::before, .open.x .navicon::before{
  transform: rotate(-45deg);
}

.open.plus .navicon::after, .open.x .navicon::after{
  transform: rotate(45deg);
}

.open.plus {
	transform: scale(var(--togled-size)) rotate(45deg);
}


/* Base ================== */
* { box-sizing: border-box; }

html { font-size: var(--size); }
html, body, section { position: relative; height: 100%; }

body {
	font-family: sans-serif;
  background: #eee;
  padding: 1.5rem 1.5rem 0;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  max-width: 40rem;
  margin: 0 auto;
  border-radius: .5rem .5rem 0 0;
  background: white;
  overflow: hidden;
  height: 300px;
}

/* Smoother animations */
section *, section *::before, section *::after{
  transform: translate3d(0, 0, 0);
}

nav {
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  background: black;
  text-align: right;
  border-radius: .5rem .5rem 0 0;
  padding: 0 1rem;

  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
